html {
    background-color: #ffffff;
}


a {
    text-decoration: none;
    color: rgb(113, 117, 104);
}

.open-button {
  background-color: rgb(255, 255, 255);
  color: rgb(61, 61, 61);
  padding: 16px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 19px;
  right: 15px;
  width: 75px;
  border-radius: 10%;
}
  

.form-popup {
    display: none;
    position: fixed;
    top: 20px;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  

.form-container input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    font-size: 90%;
  }
  
.form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    font-size: 90%;
    
  }
  

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  

.form-container .btn {
    background-color: #f28e8e;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  

.form-container .cancel {
    background-color: red;
  }
  
 
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 6px;
  margin-right: 100px;
  border: none;
  font-size: 17px;
}

.upper-tab-bar {
    position: absolute;
    display: flex;
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-top: -4%;
    margin-left: -.5%;
    background-color: #fd9e9e;
    z-index: -1;
    text-align: center;
}

.logo{
    position: absolute;
    display: flex;
    margin-left: 42%;
    height: 300px;
    width: 250px;
    margin-top: -8%;
}


.nav-bar {
    display: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: rgb(113, 117, 104);
}

.headers-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(113, 117, 104);
    margin-left: 19%;
    gap: 10px;

}

.headers-container h2{
    display: flex;
    position: relative;
    padding-left: 30px;
    top: 480px;
    font-size: 1.5vw;
}

.headers-container .trending{
    display: flex;
    padding-left: 20px;
    top: 455px;
}

.headers-container .featured{
    display: flex;
    padding-left: 20px;
    top: 137px;
}
.buy-button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: #fd9e9e;
  color:#ffffff;
  font-size: 15px;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  right: -15%;
  margin-top: 5%;
  top: 0%;
  padding: 10px;
  border-radius: 10px;
  border-color: #fd9e9e;
}
.features-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 7%;
  margin-left: 20%;
}
.features-container img {
    object-fit: cover;
    width: 200px;
    height: 150px;
    border-radius: 10%;
}

.features-container img:hover {
    transition: 400ms ease-in-out;
    transform: scale(1.15);
}
.trending-container img:hover {
    transition: 400ms ease-in-out;
    transform: scale(1.15);
}

.trending-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10%;
    margin-left: 20%;
}

.trending-container img{
    object-fit: cover;
    width: 200px;
    height: 150px;
    border-radius: 10%;
}

.categories-list {
    position: absolute;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(113, 117, 104);
    font-size: 20px;
    left: 55px;
    margin-left: 30px;
    flex-direction: column;
    text-decoration: none;
    margin-top: -29%;
}

.categories-list a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.cat-propaganda {
    margin-top: -41%;
    margin-left: 2%;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(251, 191, 191);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(113, 117, 104);
    display: block;
    transition: 0.3s;
  }
  
.sidenav a:hover {
    color: #f1f1f1;
  }
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 60px;
  }

.slider {
  width: 500px;
  height: 300px;
  background-color: yellow;
  position: absolute;
  top: 900px;
  margin: 4%;
  margin-left: 40%;
  text-align: center;
  overflow: hidden;
}
.image-container {
  width: 1500px;
  background-color: pink;
  height: 300px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.slide {
  width:500px;
  height: 300px;
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -500px;
}
#slide-3:target ~ .image-container {
  left: -1000px;
}
.buttons {
  position: relative;
  top: -20px;
}
.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: lightgreen;
}