html{
    background-color: #fff8e2;
}


a{
    text-decoration: none;
    color: rgb(113, 117, 104);
}

#title {
    text-align: center;
    font-size: 25px;
}

.nav-bar{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(113, 117, 104);
}

.headers {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(113, 117, 104);
}
